.input {
  padding: .25rem;
  border-radius: .25rem;
  margin: 10px 5px;
  font-size: 14px;
}

.select {
  padding: .25rem;
  border-radius: .25rem;
  background-color: #fff;
  font-size: 14px;
}

div {
  font-size: 26px;
}
